.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 10px;

  input {
    min-height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgba(120, 120, 120, 0.2);
    color: rgba(206, 206, 206, 0.431);
  }

  button {
    grid-column-end: -1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: royalblue;
    cursor: pointer;
  }
}