.header {
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px;
  padding: 20px;

  .left_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    gap: 15px;
    width: 100%;
    height: 100%;

    .header_logo {
      width: 80px;
      height: 40px;
      border: .5px solid rgba(255, 255, 255, 0.3);
    }

    input {
      border: .5px solid rgba(224, 224, 224, 0.35);
      padding: 5px 10px;
      border-radius: 15px;
      width: 50%;
    }

  }

  .right_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    .user_name {
      font-size: .9rem;
    }

    .user_image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: .5px solid rgba(255, 255, 255, 0.3);
    }

  }

}